<footer class="footer bg-dark py-3 mt-auto">
    <%#using bootstrap footer, mamking it dark, padding top to bottom=3. margin top=auto, which will keep the footer in
        the bottom of the page. We could use justify content to move the footer down in the bottom, but it would pull
        down all other content, so when we are moving a single component better to use margin.%>
        <div class="container">
            <span class="text-secondary">&copy;YelpCamp 2023</span>
        </div>
</footer>